.Navbar{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.logo_img{
   max-width: 120px;


}

ul{
    display: flex;
    gap: 30px;
    float: right;
}

.Navbar > li{
    display: inline;
    font-weight: 200;
    text-transform: uppercase;
}

.active{
    text-decoration: underline;
}
